<%-include('partials/_header.ejs')-%>

<div class="container" style="margin-left:5%;">

    <p class="fontsforweb_fontid_77695"> maslabook:   <span> <%= json[0].counter %> </span> </p>

    <p class="fontsforweb_fontid_77695"> maslastory:  <span> <%= json[1].counter %> </span> </p>

    <p class="fontsforweb_fontid_77695"> maslaboard:  <span> <%= json[2].counter %> </span> </p>

    <p class="fontsforweb_fontid_77695"> maslazoom:   <span> <%= json[3].counter %> </span> </p>

    <p class="fontsforweb_fontid_77695"> maslanomics: <span> <%= json[4].counter %> </span> </p>

</div>


<%- include('partials/_footer');-%>